#b{
margin-left: 50px;
margin-right: 50px;
padding: 10px;
padding-bottom: 200px;
background-color: #202020;
float: middle;
}

.artikelen{
	padding: 50px;
	margin: 20px;
	color: white;
	background-color: #202020
}

#vs{
margin-top: -10px;
padding-bottom: 5%;
}

#Soesje{
	float: left;
	padding-right: 25px;

}

#text{
	margin-left: 150px;

}